


body {
	font-family: 'Open Sans', sans-serif;
	padding-top: 54px;
	color: #868e96;
	background-color: #263645;
	max-width:100%;
	font-weight:400;
	}

@media (min-width:992px) {
	body {padding-top: 0;padding-left: 17rem;}
}

h2 {font-weight: 400;
	text-transform: uppercase;
	font-family: 'Open Sans', sans-serif;
	font-size: 2em;
	color:#0098cf;
	padding-bottom:20px;
	padding-top:20px;
	}
	
.mb-5 {margin-bottom:0px!important;}

a {color: #868e96;}
a:active, a:focus, a:hover {color: #0098cf;text-decoration:none;}
.text-justify {text-align: justify;}
.contact {font-family: 'Open Sans', sans-serif;font-size:1em;font-weight:300;}
.bg-primary {background-color: #263645!important;}    /* COLOR OF LEFT SIDE */
#co img {max-width:100%;margin-bottom:8px;}
#co-mobile {max-width:600px;}
.mobiletitle {width:100%;}
.mobiletitle img {max-width:100%;}

.skyline img {max-width:100%;margin-bottom:20px;}

.main-section {max-width:900px;background-color:white;}


/* mobile  */
@media only screen and ( max-width:992px) {
	.onlydesktop  {display:none;}
	.onlymobile {display:inline;}
	h2 {font-weight:300;font-size:1.5em;}
	.container-fluid  {margin-top:30px;}
	.skyline img {max-width:100%;margin-top:20px;}
	.navbar {padding-right:0;}
}

/* desktop  */
@media only screen and ( min-width:992px) {
	.onlydesktop  {display:inline;}
	.onlymobile {display:none;}
}

#sideNav .navbar-nav .nav-item .nav-link {font-weight: 600;text-transform: uppercase;}
#sideNav a:hover {color:#0098cf;}


@media (min-width:992px) {
	#sideNav {
			text-align: center;
			position: fixed;
			top: 0;
			left: 0;
			display: flex;
			flex-direction: column;
			width: 17rem;
			height: 100vh;
		}
	#sideNav .navbar-brand {
			display: flex;
			margin: 0 auto 0;    /* changed from  "auto auto 0" so that the logo+nav is at the top */
			padding: .5rem;
		}
	#sideNav .navbar-brand .img-profile {
			max-width: 10rem;
			max-height: 10rem;
		}
	#sideNav .navbar-collapse {
			display: flex;
			align-items: flex-start;
			flex-grow: 0;
			width: 100%;
			margin-bottom: auto;
		}
	#sideNav .navbar-collapse .navbar-nav {
			flex-direction: column;
			width: 100%;
		}
	#sideNav .navbar-collapse .navbar-nav .nav-item {	display: block;}
	#sideNav .navbar-collapse .navbar-nav .nav-item .nav-link {display: block;}
	section.main-section {
			border-bottom: 1px solid #dee2e6;
			padding-top: 5rem!important;
			padding-bottom: 5rem!important;
		}
	section.main-section {min-width: none;}
}

@media (min-width:992px) {
	section.main-section {min-height: 100vh;}   /* one whole page for each topic */
	section.main-section {min-width: 18rem;}
}

@media (min-width:992px) {
	section.main-section {padding-top: 3rem!important;padding-bottom: 3rem!important;}
}


